name: Java CI

on:
  push:
  workflow_dispatch:
    inputs:
      ALLURE_JOB_RUN_ID:
        description: "Inner parameter for Allure TestOps"
        required: false

env:
  ALLURE_JOB_RUN_ID: ${{ github.event.inputs.ALLURE_JOB_RUN_ID }}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: '17'
        cache: 'gradle'
    - uses: allure-framework/setup-allurectl@v1
      with:
        allure-endpoint: https://demo.testops.cloud
        allure-token: ${{ secrets.ALLURE_TOKEN }}
        allure-project-id: 536
    - name: Run Tests
      run: allurectl watch --results build/allure-results -- ./gradlew clean test
